$specialTheme: true;

$bg-color-special: #140f2d;
$hn-color-special: #f49d37;
$txt-color-special: rgb(255, 251, 249);
$txt-accent-special: #f49d37;
$navbar-bg-special: #140f2d;
$navbar-txt-special: #3f88c5;
$card-txt-special: white;
$card-bg-special: #3f88c5;
$card-border-special: #f49d37;
$pfbtn-sbg: white;
$pfbtn-stxt: #d72638;
$pfbtn-sbghover: #d72638;
$pfbtn-stxthover: white;
$footer-special: rgb(165, 165, 165);
