$specialTheme: false;

$bg-color-special: rgb(255, 0, 179);
$txt-color-special: white;
$txt-accent-special: orange;
$navbar-bg-special: cyan;
$navbar-txt-special: #0000ff;
$card-txt-special: rgb(146, 51, 235);
$card-bg-special: rgb(236, 145, 9);
$card-border-special: rgb(136, 136, 136);
$pfbtn-sbg: white;
$pfbtn-stxt: red;
$pfbtn-sbghover: red;
$pfbtn-stxthover: white;
$hn-color-special: black;
