$bg-color-special: #0c0820;
$hn-color-special: #dd8e33;
$txt-color-special: rgb(255, 251, 249);
$txt-accent-special: #dd8e33;
$navbar-bg-special: #0c0820;
$navbar-txt-special: #225680;
$card-txt-special: white;
$card-bg-special: #225680;
$card-border-special: #dd8e33;
$pfbtn-sbg: white;
$pfbtn-stxt: #dd8e33;
$pfbtn-sbghover: #dd8e33;
$pfbtn-stxthover: white;
$footer-special: rgb(165, 165, 165);
